<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <h4>
        <strong>Jobname:</strong>
        <%= @job.jobname %>
      </h4>

      <h4>
        <strong>Description:</strong>
        <%= @job.description %>
      </h4>

      <h4>
        <strong>Poster:</strong>
        <%= @job.poster.username %>
      </h4>
      <% if poster_signed_in? %>
        <%= link_to 'Edit', edit_job_path(@job) %> |
        <%= link_to 'Back', poster_path %>
      <% else %>  
        <%= link_to 'Back', jobs_path %>
      <% end %>
    </div>
  </div>
</div>
